.netflix-body{
    background-color: black;
}

.heading{
    position: relative;
}

.heading-background-image{
    width: 100%;
    height: 500px;
    opacity: 0.5;
}

.nevbar{
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0.6px;
    left: 0px;
    background-color: black;
    opacity: 0.8;
    color: white;
    display: flex;
    
}

.heading-nevbar-logo{
    width: 120px;
    padding: 8px;
}

.heading-nevbar-menu{
    display: flex;
    padding-bottom: 20px;
    width: 500px;
    height: 20px;
    justify-content: space-evenly;
        
}

.nevbar-menus{
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.nevbar-home,.nevbar-tv-show,.nevbar-mylist,.nevbar-movies{
    text-decoration: none;
    color: white;
}

#menu-style:hover{
    color: red;
    font-weight: bold;
}

.last-section{
    width: 1600px;
}

.last-section-heading{
    color: white;
}


.heading-netflix-image{
    width: 220px;
    height: 110px;
    
}

.heading-netflix-image:hover{
    transform: scale(1.1);
}



